// out: C:\\shined\luludj\views\v1\css\luludj_glob_using.css, sourcemap: false, compress: true

ul, ol, li { list-style: none; }
body, div, p, a, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,
form, input, textarea, select, button, th, td { margin: 0; padding: 0;}

.glob-font {
  font-family: "Microsoft YaHei",sans-serif;
}

body {
  .glob-font;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wipe-float {
  display: block;
  content: "";
  clear: both;
}

.lt-block {
  display: block;
}
