// out: C:\\shined\luludj\views\v1\css\luludj_index.css, sourcemap: false, compress: true;

@import (less) "luludj_utils.less";

@disp-area-ctrl: 1120px;
@main-nav-h: 53px;
@pd-top-down: 20px;
@pd-left-right: 30px;

.content-pd-l {
  padding-left: 10px;
}

.hundred-cent-wth {
  width: 100%;
}

// 去除 display: inline-block 的左空格
.drop-l-space {
  -webkit-text-size-adjust: none;
  font-size: 0;
}

// 使内容居中
.lets-meidum {
  margin: auto;
}

nav {
  .hundred-cent-wth;
}

.fshow {
  // 顶部导航条
  &-top {
    .hundred-cent-wth;
    height: 80px;
    background-color: #24304F;
  }
  // 主要导航条
  &-main {
    .hundred-cent-wth;
    height: @main-nav-h;
    background-color: #222D43;
  }
}

// 主导航条的项目
.main-nav-list {
  .lets-meidum;
  width: @disp-area-ctrl;
  overflow: hidden;
  li {
    display: inline-block;
    .drop-l-space;
  }
  a {
    line-height: @main-nav-h;
    display: inline-block;
    font-size: 1.15rem;
    padding: 0px @pd-left-right;
    color: #fff;
  }
}

#non-nav-area {
  padding-top: 20px;
  background: url(http://imgur.com/KqEw0v0.jpg) no-repeat;
}

/**
* 内容区域
**/
.sect-edge {
  padding: @pd-top-down @pd-left-right;
}

#content-area {
  .lets-meidum;
  width: @disp-area-ctrl;
  #column-gallery {
    background-color: #fff;
  }
  #game-news-area {
    background-color: #fff;
    margin-top: 20px;
    #lldj-news-area {
      &::after {
        .wipe-float;
      }
    }
  }
}

@game-item-h: 110px;

#game-item-area {
  width: 100%;
  .g-each-item {
    float: left;
    width: @game-item-h;
    margin-right: 40px;
  }
}

// 清楚游戏列表的浮动
.g-item-c {
  &:after {
    .wipe-float;
  }
}

.g-item-img {
  max-width: @game-item-h;
  max-height: @game-item-h;
  overflow: hidden;
  position: relative;
}

.game-item-title {
  font-weight: normal;
  margin-top: 5px;
  font-size: 0.9rem;
  text-align: center;
  color: #000 ;
}

// 内容区域
.one-news-item {
  width: 360px;
  height: 800px;
  float: left;
  margin-right: 25px;
}
.one-news-item-middle {
  width: 370px;
  float: left;
}
.one-news-item-last {
  width: 330px;
  float: right;
  padding-right: 10px;
}

.news-pic-cover {
  width: 100%;
}

.slide-cov-news {
  overflow: hidden;
  height: 300px;
}

// 第二部分
.out-line1 {
  //border: 1px solid #EEE9E9;
  width: 100%;
}


.w-tn-edge {
  padding: 20px 0px;
}


// 咨询头部新闻
.whaen-tn-head {
  overflow: hidden;
  .w-tnb-down {
    padding-bottom: 20px;
  }
}

@whaen-tnb-title-size: 1.2rem;
@whaen-tnb-title-size-h: 1.2 * 16px + 10;

// 每个大标题
.whaen-tnb-ever {
  width: 100%;
  text-align: center;
  &::after {
    .wipe-float;
  }
  .whaen-tnb-title {
    overflow: hidden;
    height: @whaen-tnb-title-size-h;
    font-size: @whaen-tnb-title-size;
    a {
      color: #2F4F4F;
    }
  }
  .whaen-sub-news {
    float: left;
    width: 50%;
    li {
      padding-top: 5px;
    }
    a {
      color: #4F4F4F;
      font-size: 0.8rem;
    }
  }
}


// 咨询条目
// 标题
.news-ctry-title {
  padding-bottom: 20px;
  li {
    padding: 8px 0px;
    overflow: hidden;
    text-align: center;
    width: 25%;
    display: inline-block;
    font-size: 0.8rem;
  }
}

.news-ctry-l {
  font-size: 0.8rem;
  margin-bottom: 10px;
  border-left: 3px solid red;
  height: 18px;
  overflow: hidden;
  line-height: 18px;
  &::after {
    .wipe-float;
  }
}

.n-ctry-c {
  color: #363636;
}

// 标题
.n-ctry-l-item-title {
  width: 70%;
  .lt-block;
  float: left;
  overflow: hidden;
}

// 标签
.n-ctry-l-item {
  width: 10%;
  float: left;
  .lt-block;
}
.ncli-tag {
  padding-left: 5px;
}

// 日期
.n-ctry-l-item-r {
  display: inline-block;
  overflow: hidden;
  float: right;
  font-style: normal;
}



/* 新游推荐 */
.with-line {
  display: inline-block;
  vertical-align: middle;
}

.flag-icon-1 {
    .with-line;
    width: 5px;
    margin-right: 6px;
    height: 25px;
    border-radius: 7px;
    background-color: #7EC0EE;
}

.nge-rcmmd-title {
    .with-line;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3px;
    margin-right: 7px;
}

.nge-title-area {
  line-height: 35px;
  margin-bottom: 15px;
}

.nge-rcmmd-t-comment {
  font-size: 0.9rem;
  vertical-align: bottom;
  color: #B5B5B5;
}

// 新服列表
.nge-list-wrap {
  padding-left: 4px;
  width: 326px;
  ul {
    width: 325px;
    border-left: 1px solid #F5F5F5;
    li {
      width: 100%;
      margin-bottom: 10px;
      a {
        width: 100%;
        line-height: 30px;
        height: 40px;
        font-size: 0.9rem;
        &:hover {
          text-decoration: none;
        }
      }

      strong, em, i {
        font-style: normal;
        .with-line;
      }
    }
  }
}

.nge-rcmmd-name {
  color: #E23E4C;
  margin-right: 30px;
}

.nge-rcmmd-attach {
  color: #828282;
}

.dot-icon {
  margin-left: -2px;
  width: 3px;
  height: 3px;
  background-color: #CFCFCF;
  margin-right: 14px;
}

.nge-state {
  padding: 0px 10px;
  float: right;
  border: 1px solid #F5F5F5;;
  color: #FF3030;
}
